<!DOCTYPE html>
<html lang="jp">
  <head>
      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Re:JOY-TAN&CON　事前予約確認</title>
  </head>
  <body>
    <main>
    <!-- Banner -->
    <section id="banner">
        <h2><strong>Re:JOY-TAN&CON</strong><br />事前予約確認</h2>
    </section>
	      <section class="wrapper style2 special">
			      <div class="inner narrow">
                {% block body %}{% endblock %}
			      </div>
	      </section>
		<!-- Scripts -->
		<footer id="footer">
				<div class="copyright">
					  &copy; Untitled. Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
		</footer>
		<script src={{ url_for('static', filename='assets/js/jquery.css') }}"></script>
		<script src={{ url_for('static', filename='assets/js/skel.css') }}"></script>
		<script src={{ url_for('static', filename='assets/js/util.css') }}"></script>
		<script src={{ url_for('static', filename='assets/js/main.css') }}"></script>
    </main>
  </body>
</html>
